Introdução a Analise de dados
================

Hoje faremos juntos uma analise dos dados de nascidos vivos, no estado do Rio de Janeiro em 2015.

-------

Vamos usar a biblioteca pysus para importar esses dados

In [1]:
import pandas
from pysus.utilities.readdbc import read_dbc
df = read_dbc("DNRJ2015.dbc")

True

## Conhecendo os dados

O primeiro passo de qualquer analise é conhecer os dados que você tem em mãos.

In [2]:
df.head()

,NUMERODN,CODINST,ORIGEM,NUMERODV,PREFIXODN,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,...,TPNASCASSI,TPFUNCRESP,TPDOCRESP,DTDECLARAC,ESCMAEAGR1,TPROBSON,STDNEPIDEM,STDNNOVA,CODPAISRES,PARIDADE
0,13660401,MRJ3303900001,1,,,2275554,330390,2,26,1,...,,,,,,11,0,0,1,0
1,53258484,RRJ3304550000,1,0,30,2273101,330412,1,27,1,...,,,,,,11,0,0,1,1
2,53258485,RRJ3304550000,1,8,30,2273101,330412,1,28,1,...,,,,,,11,0,0,1,0
3,53302375,RRJ3304550000,1,2,30,2290073,330140,1,19,1,...,,,,,,11,0,0,1,0
4,53302376,RRJ3304550000,1,0,30,2290073,330140,1,18,1,...,,,,,,11,0,0,1,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236960 entries, 0 to 236959
Data columns (total 63 columns):
NUMERODN      236960 non-null object
CODINST       236960 non-null object
ORIGEM        236960 non-null object
NUMERODV      236960 non-null object
PREFIXODN     236960 non-null object
CODESTAB      236960 non-null object
CODMUNNASC    236960 non-null object
LOCNASC       236960 non-null object
IDADEMAE      236960 non-null object
ESTCIVMAE     236960 non-null object
ESCMAE        236960 non-null object
CODOCUPMAE    236960 non-null object
QTDFILVIVO    236960 non-null object
QTDFILMORT    236960 non-null object
CODMUNRES     236960 non-null object
GESTACAO      236960 non-null object
GRAVIDEZ      236960 non-null object
PARTO         236960 non-null object
CONSULTAS     236960 non-null object
DTNASC        236960 non-null object
HORANASC      236960 non-null object
SEXO          236960 non-null object
APGAR1        236960 non-null object
APGAR5        236960 non-null object
RACACOR       236960 non-null object
PESO          236960 non-null object
IDANOMAL      236960 non-null object
DTCADASTRO    236960 non-null object
CODANOMAL     236960 non-null object
NUMEROLOTE    236960 non-null object
VERSAOSIST    236960 non-null object
DTRECEBIM     236960 non-null object
DIFDATA       236960 non-null object
DTRECORIG     236960 non-null object
NATURALMAE    236960 non-null object
CODMUNNATU    236960 non-null object
CODUFNATU     236960 non-null object
ESCMAE2010    236960 non-null object
SERIESCMAE    236960 non-null object
DTNASCMAE     236960 non-null object
RACACORMAE    236960 non-null object
QTDGESTANT    236960 non-null object
QTDPARTNOR    236960 non-null object
QTDPARTCES    236960 non-null object
IDADEPAI      236960 non-null object
DTULTMENST    236960 non-null object
SEMAGESTAC    236960 non-null object
TPMETESTIM    236960 non-null object
CONSPRENAT    236960 non-null object
MESPRENAT     236960 non-null object
TPAPRESENT    236960 non-null object
STTRABPART    236960 non-null object
STCESPARTO    236960 non-null object
TPNASCASSI    236960 non-null object
TPFUNCRESP    236960 non-null object
TPDOCRESP     236960 non-null object
DTDECLARAC    236960 non-null object
ESCMAEAGR1    236960 non-null object
TPROBSON      236960 non-null object
STDNEPIDEM    236960 non-null object
STDNNOVA      236960 non-null object
CODPAISRES    236960 non-null object
PARIDADE      236960 non-null object
dtypes: object(63)
memory usage: 113.9+ MB

Aqui notamos que varias linhas estão com dados em branco mas isso não se refletiu no `.info()`. Vamos descobrir o porque

In [4]:
df.loc[0]["NUMERODV"]

''

In [5]:
import numpy
df.replace("", numpy.nan, inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236960 entries, 0 to 236959
Data columns (total 63 columns):
NUMERODN      236960 non-null object
CODINST       236960 non-null object
ORIGEM        236960 non-null object
NUMERODV      236957 non-null object
PREFIXODN     236957 non-null object
CODESTAB      235941 non-null object
CODMUNNASC    236960 non-null object
LOCNASC       236960 non-null object
IDADEMAE      236960 non-null object
ESTCIVMAE     236000 non-null object
ESCMAE        235691 non-null object
CODOCUPMAE    204189 non-null object
QTDFILVIVO    231039 non-null object
QTDFILMORT    227792 non-null object
CODMUNRES     236960 non-null object
GESTACAO      231701 non-null object
GRAVIDEZ      236732 non-null object
PARTO         236755 non-null object
CONSULTAS     236958 non-null object
DTNASC        236960 non-null object
HORANASC      236706 non-null object
SEXO          236960 non-null object
APGAR1        228592 non-null object
APGAR5        228947 non-null object
RACACOR       230118 non-null object
PESO          236955 non-null object
IDANOMAL      236055 non-null object
DTCADASTRO    236958 non-null object
CODANOMAL     1664 non-null object
NUMEROLOTE    236958 non-null object
VERSAOSIST    236958 non-null object
DTRECEBIM     236958 non-null object
DIFDATA       236960 non-null object
DTRECORIG     236958 non-null object
NATURALMAE    235455 non-null object
CODMUNNATU    235455 non-null object
CODUFNATU     235455 non-null object
ESCMAE2010    235683 non-null object
SERIESCMAE    109949 non-null object
DTNASCMAE     236609 non-null object
RACACORMAE    230111 non-null object
QTDGESTANT    231627 non-null object
QTDPARTNOR    229556 non-null object
QTDPARTCES    229369 non-null object
IDADEPAI      128905 non-null object
DTULTMENST    89842 non-null object
SEMAGESTAC    231694 non-null object
TPMETESTIM    231694 non-null object
CONSPRENAT    234550 non-null object
MESPRENAT     233010 non-null object
TPAPRESENT    236359 non-null object
STTRABPART    235830 non-null object
STCESPARTO    141783 non-null object
TPNASCASSI    236777 non-null object
TPFUNCRESP    225672 non-null object
TPDOCRESP     236950 non-null object
DTDECLARAC    233343 non-null object
ESCMAEAGR1    235683 non-null object
TPROBSON      236960 non-null object
STDNEPIDEM    236958 non-null object
STDNNOVA      236960 non-null object
CODPAISRES    236958 non-null object
PARIDADE      236960 non-null object
dtypes: object(63)
memory usage: 113.9+ MB

O que aconteceu é que no `import` o pandas não entendeu que os dados vazios, `''`, eram considerados nulos, `NaN`. Por isso a gente trocou os tipos e agora o pandas entende que os dados estão em falta.

In [7]:
df.head()

,NUMERODN,CODINST,ORIGEM,NUMERODV,PREFIXODN,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,...,TPNASCASSI,TPFUNCRESP,TPDOCRESP,DTDECLARAC,ESCMAEAGR1,TPROBSON,STDNEPIDEM,STDNNOVA,CODPAISRES,PARIDADE
0,13660401,MRJ3303900001,1,NaN,NaN,2275554,330390,2,26,1,...,NaN,NaN,NaN,NaN,NaN,11,0,0,1,0
1,53258484,RRJ3304550000,1,0,30,2273101,330412,1,27,1,...,NaN,NaN,NaN,NaN,NaN,11,0,0,1,1
2,53258485,RRJ3304550000,1,8,30,2273101,330412,1,28,1,...,NaN,NaN,NaN,NaN,NaN,11,0,0,1,0
3,53302375,RRJ3304550000,1,2,30,2290073,330140,1,19,1,...,NaN,NaN,NaN,NaN,NaN,11,0,0,1,0
4,53302376,RRJ3304550000,1,0,30,2290073,330140,1,18,1,...,NaN,NaN,NaN,NaN,NaN,11,0,0,1,1

-----
Vamos analisar o nome das colunas e trocar de nome as que estiverem ilegiveis.

In [8]:
list(df.columns)

['NUMERODN',
 'CODINST',
 'ORIGEM',
 'NUMERODV',
 'PREFIXODN',
 'CODESTAB',
 'CODMUNNASC',
 'LOCNASC',
 'IDADEMAE',
 'ESTCIVMAE',
 'ESCMAE',
 'CODOCUPMAE',
 'QTDFILVIVO',
 'QTDFILMORT',
 'CODMUNRES',
 'GESTACAO',
 'GRAVIDEZ',
 'PARTO',
 'CONSULTAS',
 'DTNASC',
 'HORANASC',
 'SEXO',
 'APGAR1',
 'APGAR5',
 'RACACOR',
 'PESO',
 'IDANOMAL',
 'DTCADASTRO',
 'CODANOMAL',
 'NUMEROLOTE',
 'VERSAOSIST',
 'DTRECEBIM',
 'DIFDATA',
 'DTRECORIG',
 'NATURALMAE',
 'CODMUNNATU',
 'CODUFNATU',
 'ESCMAE2010',
 'SERIESCMAE',
 'DTNASCMAE',
 'RACACORMAE',
 'QTDGESTANT',
 'QTDPARTNOR',
 'QTDPARTCES',
 'IDADEPAI',
 'DTULTMENST',
 'SEMAGESTAC',
 'TPMETESTIM',
 'CONSPRENAT',
 'MESPRENAT',
 'TPAPRESENT',
 'STTRABPART',
 'STCESPARTO',
 'TPNASCASSI',
 'TPFUNCRESP',
 'TPDOCRESP',
 'DTDECLARAC',
 'ESCMAEAGR1',
 'TPROBSON',
 'STDNEPIDEM',
 'STDNNOVA',
 'CODPAISRES',
 'PARIDADE']

In [9]:
translate_dict = {
    "LOCNASC": "LOCAL_NASCIMENTO",
    "ESTCIVMAE": "EST_CIVIL_MAE",
    "ESCMAE": "ESCOLARIDADE_MAE",
    "QTDFILVIVO": "FILHOS_VIVOS",
    "QTDFILMORT": "FILHOS_MORTOS",
    "DTNASC": "DATA_NASCIMENTO",
    "HORANASC": "HORA_NASCIMENTO",
    "APGAR1": "APGAR_1",
    "APGAR5": "APGAR_5",
    "RACACOR": "RACA_COR",
    "IDANOMAL": "ANOMALIA_CONGENITA",
    "DTCADASTR0": "DATA_CADASTRO",
    "DTRECEBIM": "DATA_RECEBIMENTO",
    "UFINFORM": "UF",
    "SEMAGESTAC": "SEMANA_GESTACAO",
    "DTULTMENST": "ULTIMA_MENSTRUACAO",
    "DIFDATA": "DIFERENCA_DATA",
    "DTNASCMAE": "DATA_NASCIMENTO_MAE",
    "RACACORMAE": "RACA_COR_MAE",
    "QTDGESTANT": "QTD_GESTACAO",
    "QTDPARTNOR": "QTD_PARTO_NORMAL",
    "QTDPARTCES": "QTD_CESARIA",

}
to_delete = ["NUMERODN", "CODESTAB", "CODINST", "CODMUNRES", "CODMUNNATU", "CODUFNATU", "ESCMAE2010", ]

In [10]:
for column in to_delete:
    del df[column]

In [11]:
df.rename(columns=translate_dict, inplace=True)

In [12]:
df.columns

Index(['ORIGEM', 'NUMERODV', 'PREFIXODN', 'CODMUNNASC', 'LOCAL_NASCIMENTO',
       'IDADEMAE', 'EST_CIVIL_MAE', 'ESCOLARIDADE_MAE', 'CODOCUPMAE',
       'FILHOS_VIVOS', 'FILHOS_MORTOS', 'GESTACAO', 'GRAVIDEZ', 'PARTO',
       'CONSULTAS', 'DATA_NASCIMENTO', 'HORA_NASCIMENTO', 'SEXO', 'APGAR_1',
       'APGAR_5', 'RACA_COR', 'PESO', 'ANOMALIA_CONGENITA', 'DTCADASTRO',
       'CODANOMAL', 'NUMEROLOTE', 'VERSAOSIST', 'DATA_RECEBIMENTO',
       'DIFERENCA_DATA', 'DTRECORIG', 'NATURALMAE', 'SERIESCMAE',
       'DATA_NASCIMENTO_MAE', 'RACA_COR_MAE', 'QTD_GESTACAO',
       'QTD_PARTO_NORMAL', 'QTD_CESARIA', 'IDADEPAI', 'ULTIMA_MENSTRUACAO',
       'SEMANA_GESTACAO', 'TPMETESTIM', 'CONSPRENAT', 'MESPRENAT',
       'TPAPRESENT', 'STTRABPART', 'STCESPARTO', 'TPNASCASSI', 'TPFUNCRESP',
       'TPDOCRESP', 'DTDECLARAC', 'ESCMAEAGR1', 'TPROBSON', 'STDNEPIDEM',
       'STDNNOVA', 'CODPAISRES', 'PARIDADE'],
      dtype='object')

In [13]:
df.head()

,ORIGEM,NUMERODV,PREFIXODN,CODMUNNASC,LOCAL_NASCIMENTO,IDADEMAE,EST_CIVIL_MAE,ESCOLARIDADE_MAE,CODOCUPMAE,FILHOS_VIVOS,...,TPNASCASSI,TPFUNCRESP,TPDOCRESP,DTDECLARAC,ESCMAEAGR1,TPROBSON,STDNEPIDEM,STDNNOVA,CODPAISRES,PARIDADE
0,1,NaN,NaN,330390,2,26,1,2,763305,99,...,NaN,NaN,NaN,NaN,NaN,11,0,0,1,0
1,1,0,30,330412,1,27,1,3,NaN,04,...,NaN,NaN,NaN,NaN,NaN,11,0,0,1,1
2,1,8,30,330412,1,28,1,4,513435,00,...,NaN,NaN,NaN,NaN,NaN,11,0,0,1,0
3,1,2,30,330140,1,19,1,3,NaN,00,...,NaN,NaN,NaN,NaN,NaN,11,0,0,1,0
4,1,0,30,330140,1,18,1,4,NaN,02,...,NaN,NaN,NaN,NaN,NaN,11,0,0,1,1

---------
Mudamos pra deixar mais claro o nome das colunas! Agora vamos olhar os valores.

Alguns nao fazem sentido ser numericos, vamos trocar por valores de texto.

In [14]:
def ajuste_estado_civil(estado_civil_num):
    estado_civil = {
        1: "solteira",
        2: "casada",
        3: "viuva",
        4: "divorciada",
        9: "ignorado",
    }
    return estado_civil.get(estado_civil_num, "ignorado")
df.EST_CIVIL_MAE = df.EST_CIVIL_MAE.fillna(9).astype(int)
df.EST_CIVIL_MAE = df.EST_CIVIL_MAE.apply(ajuste_estado_civil)

In [15]:
df.EST_CIVIL_MAE.head(10)

0      solteira
1      solteira
2      solteira
3      solteira
4      solteira
5    divorciada
6      solteira
7      ignorado
8      ignorado
9      solteira
Name: EST_CIVIL_MAE, dtype: object

In [16]:
df.ESCOLARIDADE_MAE.unique()

array(['2', '3', '4', nan, '5', '9', '1'], dtype=object)

In [17]:
def ajuste_escolaridade_mae(escolaridade_num):
    escolaridade = {
        1: "nenhuma",
        2: "1 a 3 anos",
        3: "4 a 7 anos",
        4: "8 a 11 anos",
        5: "12 ou mais",
        9: "ignorado",
    }
    return escolaridade.get(escolaridade_num, "ignorado")
df.ESCOLARIDADE_MAE = df.ESCOLARIDADE_MAE.fillna(9).astype(int)
df.ESCOLARIDADE_MAE = df.ESCOLARIDADE_MAE.apply(ajuste_escolaridade_mae)

In [18]:
df.ESCOLARIDADE_MAE.head()

0     1 a 3 anos
1     4 a 7 anos
2    8 a 11 anos
3     4 a 7 anos
4    8 a 11 anos
Name: ESCOLARIDADE_MAE, dtype: object

### Mudem a coluna PARTO para melhor leitura!

Conforme a tabela abaixo, criem uma função para modificar a coluna PARTO.

9: Ignorado

1: Vaginal

2: Cesáreo

In [19]:
# Resposta
def ajuste_parto(parto_num):
    parto = {
        9: "ignorado",
        1: "vaginal",
        2: "cesário",
    }
    return parto.get(parto_num, "ignorado")

df.PARTO = df.PARTO.fillna(9).astype(int)
df.PARTO = df.PARTO.apply(ajuste_parto)

In [20]:
df.head()

,ORIGEM,NUMERODV,PREFIXODN,CODMUNNASC,LOCAL_NASCIMENTO,IDADEMAE,EST_CIVIL_MAE,ESCOLARIDADE_MAE,CODOCUPMAE,FILHOS_VIVOS,...,TPNASCASSI,TPFUNCRESP,TPDOCRESP,DTDECLARAC,ESCMAEAGR1,TPROBSON,STDNEPIDEM,STDNNOVA,CODPAISRES,PARIDADE
0,1,NaN,NaN,330390,2,26,solteira,1 a 3 anos,763305,99,...,NaN,NaN,NaN,NaN,NaN,11,0,0,1,0
1,1,0,30,330412,1,27,solteira,4 a 7 anos,NaN,04,...,NaN,NaN,NaN,NaN,NaN,11,0,0,1,1
2,1,8,30,330412,1,28,solteira,8 a 11 anos,513435,00,...,NaN,NaN,NaN,NaN,NaN,11,0,0,1,0
3,1,2,30,330140,1,19,solteira,4 a 7 anos,NaN,00,...,NaN,NaN,NaN,NaN,NaN,11,0,0,1,0
4,1,0,30,330140,1,18,solteira,8 a 11 anos,NaN,02,...,NaN,NaN,NaN,NaN,NaN,11,0,0,1,1

In [21]:
df.FILHOS_VIVOS = df.FILHOS_VIVOS.fillna(-1).astype(int)
df.FILHOS_MORTOS = df.FILHOS_MORTOS.fillna(-1).astype(int)
df.IDADEMAE = df.IDADEMAE.astype(int)
df.IDADEPAI = df.IDADEPAI.fillna(0).astype(int)
df.QTD_GESTACAO = df.QTD_GESTACAO.fillna(-1).astype(int)
df.QTD_PARTO_NORMAL = df.QTD_PARTO_NORMAL.fillna(-1).astype(int)
df.QTD_CESARIA = df.QTD_CESARIA.fillna(-1).astype(int)
df.APGAR_1 = df.APGAR_1.fillna(-1).astype(int)
df.APGAR_5 = df.APGAR_5.fillna(-1).astype(int)
df.PESO = df.PESO.fillna(0).astype(int)

----
Algumas colunas podem ser melhor utilizadas se juntas, como DATA_NASCIMENTO E HORA_NASCIMENTO. Vamos junta-las para aproveitar os dados melhor.

In [22]:
df["DATA_HORA_NASCIMENTO"] = df.DATA_NASCIMENTO + df.HORA_NASCIMENTO #o pandas só permite criação de colunas desse jeito.
df.DATA_HORA_NASCIMENTO = pandas.to_datetime(df.DATA_HORA_NASCIMENTO, format="%d%m%Y%H%M")
df.DATA_HORA_NASCIMENTO.head()

0   2015-04-04 19:20:00
1   2015-05-18 06:15:00
2   2015-10-14 04:55:00
3   2015-06-23 23:09:00
4   2015-10-07 04:20:00
Name: DATA_HORA_NASCIMENTO, dtype: datetime64[ns]

In [23]:
del df["DATA_NASCIMENTO"]
del df["HORA_NASCIMENTO"]

# transforme a coluna ULTIMA_MENSTRUACAO para data.

In [24]:
df.ULTIMA_MENSTRUACAO = pandas.to_datetime(df.ULTIMA_MENSTRUACAO, format="%d%m%Y")
df.ULTIMA_MENSTRUACAO.head(10)

0          NaT
1          NaT
2          NaT
3          NaT
4          NaT
5          NaT
6          NaT
7   2015-01-01
8          NaT
9          NaT
Name: ULTIMA_MENSTRUACAO, dtype: datetime64[ns]

In [25]:
df.dtypes

ORIGEM                          object
NUMERODV                        object
PREFIXODN                       object
CODMUNNASC                      object
LOCAL_NASCIMENTO                object
IDADEMAE                         int64
EST_CIVIL_MAE                   object
ESCOLARIDADE_MAE                object
CODOCUPMAE                      object
FILHOS_VIVOS                     int64
FILHOS_MORTOS                    int64
GESTACAO                        object
GRAVIDEZ                        object
PARTO                           object
CONSULTAS                       object
SEXO                            object
APGAR_1                          int64
APGAR_5                          int64
RACA_COR                        object
PESO                             int64
ANOMALIA_CONGENITA              object
DTCADASTRO                      object
CODANOMAL                       object
NUMEROLOTE                      object
VERSAOSIST                      object
DATA_RECEBIMENTO                object
DIFERENCA_DATA                  object
DTRECORIG                       object
NATURALMAE                      object
SERIESCMAE                      object
DATA_NASCIMENTO_MAE             object
RACA_COR_MAE                    object
QTD_GESTACAO                     int64
QTD_PARTO_NORMAL                 int64
QTD_CESARIA                      int64
IDADEPAI                         int64
ULTIMA_MENSTRUACAO      datetime64[ns]
SEMANA_GESTACAO                 object
TPMETESTIM                      object
CONSPRENAT                      object
MESPRENAT                       object
TPAPRESENT                      object
STTRABPART                      object
STCESPARTO                      object
TPNASCASSI                      object
TPFUNCRESP                      object
TPDOCRESP                       object
DTDECLARAC                      object
ESCMAEAGR1                      object
TPROBSON                        object
STDNEPIDEM                      object
STDNNOVA                        object
CODPAISRES                      object
PARIDADE                        object
DATA_HORA_NASCIMENTO    datetime64[ns]
dtype: object

------
## Analise exploratoria

Agora que acertamos nossos dados, vamos poder fazer analises conhece-lo melhor, criar graficos e hipoteses.